<footer class="footer">
    <div class="foot">
        <div class="foot_company">
            <p>南京森云软件有限公司</p>
            <label>南京市嘉陵江东街18号（南京国家广告产业园）</label><br>
            <label>3幢805室</label>
        </div>
        <div class="foot_contact">
            <p>电话:(025)8888888</p>
            <p>传真:(025)8888888</p>
            <p>邮箱:sc@sencloud.com</p>
        </div>
        <div class="font_weichat"></div>
    </div>
    <div class="bottom">版权所有@2012-2015南京森云软件技术有限公司All Rights Reserved</div>
</footer>