<header class="head">
    <div class="header">
        <span id ="temp_" style="display:none;"><%=underline%></span>
        <ul class="header_ul">
            <li>
                <div class="logo"></div>
            </li>
            <li id="header_home">
                <label class="home_gray" id="label_home"></label>
                <a href="/home">首页</a>
            </li>
            <li id="header_ipad">
                <label class="ipad_gray" id="label_ipad"></label>
                <a href="/ipad">iPad订货会</a>
            </li>
            <li id="header_case">
                 <label class="case_gray" id="label_case"></label>
                <a href="/case">客户案例</a>
            </li>
            <li id="header_contact">
                <label class="contact_gray" id="label_contact"></label>
                <a href="/contact">联系我们</a>
            </li>
        </ul>
    </div>
</header>