<html lang="zh-cn"><head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title>森云订货会</title>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/home/include.css" rel="stylesheet">
    <link href="stylesheets/home/home.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicons -->
    <!--<link rel="apple-touch-icon" href="/apple-touch-icon.png">-->
    <!--<link rel="icon" href="/favicon.ico">-->
    <script src="javascripts/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="javascripts/home/head.js"></script>
    <script src="javascripts/home/home.js"></script>

</head>
<body>
<%include includes/header%>
<!--body content start-->
<div class="ipad_body">
    <div id="ipad_title" class="ipad_title">
        <p>传统订货弊端</p>
    </div>
    <div class="ipad_content">
        <div id="ipad_content_traditional" class="ipad_content_traditional">
            <ul style="float:left;line-height:40px;">
                <li style="list-style-type:none;text-align: left;">
                    <img src="images/home/star.png" style="width:14px"/>
                    <span>1. 工录单只能在提交后才能看到订货人的订货统计，且具有一定错误率。</span>
                </li>
                <li style="list-style-type:none;text-align: left;">
                    <img src="images/home/star.png" style="width:14px"/>
                    <span>2. 订货人以单款为订货单元，缺乏对系列的整体观。</span>
                </li>
                <li style="list-style-type:none;text-align: left;">
                    <img src="images/home/star.png" style="width:14px"/>
                    <span>3. 订货人之间缺乏交流，也无从了解其他人的订货情况。</span>
                </li>
                <li style="list-style-type:none;text-align: left;">
                    <img src="images/home/star.png" style="width:14px"/>
                    <span>4. 必定(主推)款未细分，考虑订货人特征（门店数量，门面大小，营业额）方面较少。</span>
                </li>
                <li style="list-style-type:none;text-align: left;">
                    <img src="images/home/star.png" style="width:14px"/>
                    <span>5. 一些评分订货法的经验不能提供作为订货工具。</span>
                </li>
                <li style="list-style-type:none;text-align: left;">
                    <img src="images/home/star.png" style="width:14px"/>
                    <span>6. 没有及时、直观、准确的分析报表在第一现场指导订货。</span>
                </li>
                <li style="list-style-type:none;text-align: left;">
                    <img src="images/home/star.png" style="width:14px"/>
                    <span>7. 无法将品牌公司的设计理念、流行趋势传递给加盟商/经销商。</span>
                </li>
            </ul>
        </div>
        <div id="ipad_content_design" class="ipad_content_design">
            <img src="images/home/designIdeal.png" style="width:100%"/>
        </div>
        <div id="ipad_content_service" class="ipad_content_service">
            <div >
                <div style="margin-bottom: 20px;">
                    <img src="images/home/our_service1.png" />
                </div>
                <label>提供订货流程全程技术支持。</label>
            </div>
            <div>
                <div style="margin-bottom: 20px;">
                    <img src="images/home/our_service2.png" />
                </div>
                <label>支持多品牌、多店订货，大店长一人<br/>即可完成连锁店的订货会工作。</label>
            </div>
        </div>
        <div id="ipad_content_solutions" class="ipad_content_solutions" >
            <div class="ipad_content_solutions_div1">
                <div  style="border-right: 2px dashed white;">
                    <ul>
                        <li>
                            <img src="images/home/tTriangle.png" style="width:26px"/>
                            <label>产品描述</label>
                        </li>
                        <li style="margin-top:30px;">
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;从事服饰、鞋业、内衣<br/>等企业进行无线订货会的<br/>首选系统。</span>
                        </li>
                    </ul>
                </div>
                <div  style="border-right: 2px dashed white;">
                    <ul>
                        <li style="list-style-type:none;">
                            <img src="images/home/tTriangle.png" style="width:26px"/>
                            <label>设计定位</label>
                        </li>
                        <li style="list-style-type:none; margin-top:30px;">
                            <span>集中订货与远程订货并存，<br/>低成本、不限终端、无需<br/>安装。</span>
                        </li>
                    </ul>
                </div>
                <div >
                    <ul>
                        <li style="list-style-type:none;">
                            <img src="images/home/tTriangle.png" style="width:26px"/>
                            <label>使用客户</label>
                        </li>
                        <li style="list-style-type:none; margin-top:30px;">
                            <span>希望开展订货会且提高订货<br/>会效率和质量的企业。</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ipad_content_solutions_div2" >
                <p>
                    功能特点：
                    不用安装，不限终端（带WiFi）
                    高效、便捷、准确、系统地下单，帮助订货人下一张结构合理的订单
                    将商品选择流程（如以系列为出发点，以色款为单元）融入订货操作。
                    支持建立订货评分指标体系，此评分在订货过程中为经销商提供建议。
                    每位订货人都可以对所有商品进行评价，提出修改建议，设计师及商品部能够随时汇总修改意见，并及时做出响应。
                    及时、灵活调配的现场实时龙虎榜，并且支持满足当前搜索条件商品的实时排名。
                    深入分析数据，评估订货效果
                    保证品牌公司产品的安全性，保密性
                    提供第三方ERP的订单导入。
                </p>
            </div>
            <div class="ipad_content_solutions_div3">
                <p>
                    系统背景：
                    本系统经过认真严谨的市场需求调研，专业从事服饰和鞋业等企业的专家顾问团提供需求指导，成功从事多年系统解决方案的银光软件开发团队，以需求为导向，贯穿客户使用的人性化、安全性、精确性，并经过多次Bug 测试、业务逻辑测试、压力测试完成后形成的无线订货会系统解决方案。并可以根据客户的实际需求进行调整，满足客户的需要。
                </p>
            </div>
        </div>
        <div id="ipad_content_ipadAir" class="ipad_content_ipadAir">
            <div class="ipad_content_ipadAir_ipadAir">
                <img src="images/home/ipadAir1.png" style="width:80px"/>
            </div>
            <div class="ipad_content_ipadAir_ipadAirText">
                <label >纤薄、坚固</label>
                <br/><br/>
                <span >iPad Air 仅有 7.5 毫米之薄，不足一斤之轻。尽管如此轻巧，其精致的铝金属 Unibody 一体成型机身仍然不失坚固耐用的手感。</span>
            </div>
            <div class="ipad_content_ipadAir_ipadAir">
                <img src="images/home/ipadAir2.png" style="width:80px"/>
            </div>
            <div class="ipad_content_ipadAir_ipadAirText">
                <label>9.7 英寸 Retina 显示屏</label>
                <br/><br/>
                <span>绚丽夺目的 Retina 显示屏拥有超过 310 万的像素数量，比 HDTV 的像素数还高出百万之多，令照片和视频看起来细节纤毫毕现，文字分外清晰明锐。</span>
            </div>
            <div class="ipad_content_ipadAir_ipadAir">
                <img src="images/home/ipadAir3.png" style="width:80px"/>
            </div>
            <div class="ipad_content_ipadAir_ipadAirText">
                <label>A7 芯片</label>
                <br/><br/>
                <span>强劲、节能的 A7 芯片采用 64 位架构，令一切响应都异常灵敏，并仍能拥有长达 10 小时的电池使用时间2</span>
            </div>
            <div class="ipad_content_ipadAir_ipadAir">
                <img src="images/home/ipadAir4.png" style="width:80px"/>
            </div>
            <div class="ipad_content_ipadAir_ipadAirText" >
                <label>超快的无线网络连接</label>
                <br/><br/>
                <span>配备 MIMO 技术的 802.11n 无线网络连接带来超快的速度表现4。 WLAN + Cellular 机型支持更多频段，可快速连接世界各地的网络1。</span>
            </div>
        </div>

    </div>
    <div class="ipad_download">
        <img src="images/home/app.png" style="width:150px"/>
        <img src="images/home/tCode.png" style="width:50px;margin-left: 10px;"/>
    </div>
    <div class="ipad_tabel">
        <div >
            <div style="margin-bottom: 10px;">
                <img src="images/home/menu1.png" id="ipad_menu_service" onclick="showIpadContent('ipad_content_service')"/>
            </div>
            <label>我们的服务</label>
        </div>
        <div>
            <div style="margin-bottom: 10px;">
                <img src="images/home/menu2.png" id="ipad_menu_traditional" onclick="showIpadContent('ipad_content_traditional')"/>
            </div>
            <label>传统订货会</label>
        </div>
        <div>
            <div style="margin-bottom: 10px;">
                <img src="images/home/menu3.png" id="ipad_menu_solutions" onclick="showIpadContent('ipad_content_solutions')"/>
            </div>
            <label>解决方案</label>
        </div>
        <div>
            <div style="margin-bottom: 10px;">
                <img src="images/home/menu4.png" id="ipad_menu_design" onclick="showIpadContent('ipad_content_design')"/>
            </div>
            <label>设计理念</label>
        </div>
        <div>
            <div style="margin-bottom: 10px;">
                <img src="images/home/menu5.png" id="ipad_menu_ipadAir" onclick="showIpadContent('ipad_content_ipadAir')"/>
            </div>
            <label>iPad Air</label>
        </div>
    </div>
</div>
<!--body content end-->
<% include includes/foot %>
</body>
</html>



